<template name="layout">
    <div id="wrapper">

        <header>
            {{> loginButtons }}

            {{> clock }}

            <h1>
                <span class="glyphicon glyphicon-cutlery"></span>
                <span class="glyphicon glyphicon-time"></span>
                LunchTime - work-in-progress
            </h1>
        </header>

        <div id="">{{> flashMessageList }}</div>

        <section id="content">
            {{> index }}
        </section>

        {{> settings }}

        <footer>
            <small>&copy; 3001++ Berlin-West; for internal use only!</small>

            <div>{{> debugging }}</div>
        </footer>

    </div>
</template>
